/* @font-face {
	font-family: 'Bitter';
	src: url('../fonts/Bitter-VariableFont_wght.ttf') format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Bitter';
	src: url('../fonts/Bitter-Italic-VariableFont_wght.ttf') format("truetype-variations");
	font-weight: 100 900;
	font-style: italic;
}
 */

/* https://www.reddit.com/r/firefox/comments/drcxeq/text_rendering_different_and_way_better_on/ */

/*
by default, DirectWrite applications use a "contrast" or "enhanced_contrast" parameter
that is recommended by Microsoft to be set at "0.5". This, however, makes the fonts
thinner than ClearType which is used in other areas of the operating system, like Explorer etc.

both Firefox and the original Edge (and also Internet Explorer) change the contrast
value to "1.0" to more closely resemble the standard ClearType font rendering.
Additionally, for some font faces at smaller sizes, Firefox uses a compatibility
setting that allows them to use standard ClearType font filtering instead of the
default one of DirectWrite

Chromium uses the default recommended value of 0.5. Downloading the Chromium source code
and changing one line of code in skia/BUILD.gn (SK_GAMMA_CONTRAST=0.5 to 1.0) makes the
fonts look exactly like in Firefox and it is beautiful ;) This change in the source was
suggested by one user but was rejected due to other areas of the browser code that might
rely on the contrast value to be at 0.5. I do not think anyone is actively working on
this right now: https://bugs.chromium.org/p/chromium/issues/detail?id=534732

*/


@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Light.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Italic.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

.nav-item, .nav-item li {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.nav-item a{
    color:black;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-item a:hover{
    opacity: 0.7;
}

#menu-home a{
    font-size: 2.5rem;
    font-weight: 300;
}

#menu-main li{
/*     outline: solid #bfbfbf 0.15rem;
    border-radius: 0.2rem; */
/*     border-bottom: 0.15rem solid;
    border-color: #bfbfbf; */

    padding: 0 1.6rem;
    margin: 0.4rem 0.4rem;
    font-weight: normal;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #bfbfbf 0.1rem;
    padding-bottom: 10px;
}

header{
    padding: 20px 1% 0;
    margin: 0;
    font-family: 'Source Serif Pro', "Times New Roman", Times, serif;
}

.content{
    font-size: 1rem;
    padding: 0 3% 0;
    max-width: 900px;
    width: 75%;
    margin: auto;
    font-family: 'Source Serif Pro', "Times New Roman", Times, serif;
    font-weight: normal;
    text-align: justify;
}

p {
    line-height: 1.5rem;
}

.content .footnote-ref{
    color:black;
    font-size: 0.85rem;
    text-decoration: none;
}


.link, .footnote-backref{
    text-decoration:underline;
    text-decoration-thickness: 1px;
    color: #54bab9;
}

.nav-item{
    margin: 0;
}

img {
    max-width: 200px;
}

.column-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.column-item{
    text-align: justify;
}

h1, h2 {
    margin:1rem 0 0 0;
    font-weight: 300;
}

ul {
    margin: 1rem 0 0 0;
    font-weight: normal;
}

h3{
    margin: 0.75rem 0 0.25rem;
    font-size: 1.25rem;
    font-weight: normal;
}
h2{
    font-size: 1.5rem;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 750px) {
    .column-container, .nav-bar {
      flex-direction: column;
    }
    img{
        margin-top: 1rem;
    }
    .left {
        text-align: center;
    }
    
    .right {
        text-align: center;
    }
  }
  @media (max-width: 500px) {
/*     .nav-item, .nav-item li{
      flex-direction: column;
    } */
    .nav-item a{
        font-size: 1rem;
    }
  }

/* Style all font awesome icons */
.content .fa-solid, .content .fa-brands, .fa-solid, .fa-brands{
    padding: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
  }
  
/* Add a hover effect if you want */
.fa-brands:hover, .fa-solid:hover {
opacity: 0.7;
}

/* Set a specific color for each brand */

/* Email */
.fa-envelope {
color: #54BAB9;
}
/* Twitter */
.fa-twitter {
color: #55ACEE;
}
/* LinkedIn */
.fa-linkedin-in {
color: #0E76A8;
}
/* GitHub */
.fa-github {
color: #211f1f;
}

.fa-file-pdf {
    padding: 0.5rem;
    color:crimson;
    font-size: 2.5rem;
    text-decoration: none;
}


footer {
    width: 90%;
    padding: 0 3% 0;
    max-width: 900px;
    margin: 0 auto 0.75% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    font-family: "Source Serif Pro", 'Times New Roman', Times, serif;
    font-weight: normal;
}

.foothr{
    border-top: solid #bfbfbf 0.1rem;
    border-style: solid none none none;
    width: 100%;
}
hr {
    border: none;
    height: 0px;
    /* Set the hr color */
    color: #000;  /* old IE */
    background-color: #000;  /* Modern Browsers */
  }

.hr {
    height: 1px;
}

body {
    margin:0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer-div{
    text-align: center;
}

.footnotes li p{
    font-size: 1rem;
    margin: 0.75rem 0 0.75rem;
    text-align: justify;
}

.footnotes ol{
    margin: 0;
}

.centered {
    text-align: center;
}

.switch-but {
    margin: 0 1% 0;
    
}

#switch-div{
    width: 75%;
    max-width: 900px;
    margin: auto;
    padding: 0.5% 3% 0;
}